In [4]:
import pandas as pd
import numpy as np
import re

In [5]:
dataset = pd.read_csv("../../data/raw/regular_season_detailed_results.csv");

In [35]:
dataset

,season,daynum,wteam,wscore,lteam,lscore,wloc,numot,wfgm,wfga,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
5,2003,11,1458,81,1186,55,H,0,26,57,...,11,12,17,6,22,8,19,4,3,25
6,2003,12,1161,80,1236,62,H,0,23,55,...,15,20,28,9,21,11,30,10,4,28
7,2003,12,1186,75,1457,61,N,0,28,62,...,17,17,23,8,25,10,15,14,8,18
8,2003,12,1194,71,1156,66,N,0,28,58,...,18,12,27,13,26,13,25,8,2,18
9,2003,12,1458,84,1296,56,H,0,32,67,...,14,7,12,9,23,10,18,1,3,18
10,2003,13,1166,106,1426,50,H,0,41,69,...,11,12,17,8,15,8,17,7,3,15
11,2003,13,1202,74,1106,73,N,0,29,51,...,22,5,5,13,16,15,12,6,2,12
12,2003,13,1237,66,1135,65,N,0,26,66,...,19,11,17,14,21,17,18,8,4,13
13,2003,13,1323,76,1125,48,H,0,25,56,...,24,4,8,14,26,12,17,10,0,17
14,2003,14,1125,83,1135,77,N,1,30,70,...,15,17,27,20,27,17,24,7,7,19
15,2003,14,1156,78,1236,71,N,0,27,46,...,20,18,24,6,17,21,11,5,1,21
16,2003,14,1161,81,1194,56,H,0,22,48,...,13,12,19,16,18,10,16,15,3,36
17,2003,14,1166,82,1202,57,H,0,33,61,...,11,9,14,13,23,9,26,8,4,18
18,2003,14,1183,73,1129,59,A,0,29,59,...,14,14,18,12,22,10,23,4,5,14
19,2003,14,1314,85,1336,55,H,0,32,60,...,23,10,11,15,20,6,13,7,5,19
20,2003,14,1323,89,1237,45,H,0,34,62,...,15,5,11,27,22,10,17,6,3,23
21,2003,14,1353,60,1162,36,H,0,23,57,...,8,9,13,11,23,4,27,2,4,19
22,2003,14,1390,61,1131,57,H,0,20,53,...,17,16,18,11,22,7,14,7,0,24
23,2003,14,1426,59,1106,47,N,0,25,53,...,18,1,2,8,15,10,8,10,6,14
24,2003,14,1462,87,1389,48,H,0,35,70,...,20,1,4,16,18,11,19,4,3,16
25,2003,15,1161,77,1156,63,H,0,27,58,...,13,14,20,7,19,13,13,6,6,22
26,2003,15,1194,93,1236,86,N,2,33,75,...,31,18,22,9,33,20,26,6,7,25
27,2003,15,1196,76,1256,55,H,0,28,48,...,5,16,22,12,17,14,22,8,2,22
28,2003,15,1242,81,1221,57,H,0,28,53,...,21,14,21,8,22,11,20,9,3,27
29,2003,15,1422,84,1447,65,H,0,33,53,...,25,10,16,14,15,9,12,10,2,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60488,2014,130,1458,83,1278,57,N,0,30,55,...,21,11,18,10,24,9,9,3,0,22
60489,2014,131,1107,69,1392,60,A,0,23,52,...,14,14,18,12,23,9,13,5,4,20
60490,2014,131,1142,61,1169,59,N,0,23,51,...,7,18,22,17,25,6,8,3,1,18
60491,2014,131,1181,75,1301,67,N,0,28,49,...,14,11,14,13,15,13,7,4,2,19
60492,2014,131,1196,56,1397,49,N,0,21,44,...,13,9,11,8,22,7,16,7,4,18
60493,2014,131,1209,72,1117,45,N,0,26,52,...,24,6,14,10,23,10,10,0,3,19
60494,2014,131,1235,74,1124,65,N,0,24,48,...,23,11,16,9,19,12,8,8,1,18
60495,2014,131,1246,70,1208,58,N,0,26,51,...,13,21,30,3,18,6,7,8,2,16
60496,2014,131,1257,71,1163,61,N,0,25,61,...,16,9,13,9,24,14,13,3,5,20
60497,2014,131,1276,72,1326,69,N,0,25,47,...,19,8,12,9,22,17,11,10,2,18
60498,2014,131,1277,83,1458,75,N,0,29,51,...,18,24,31,9,19,13,6,2,2,18
60499,2014,131,1300,71,1288,62,N,0,19,43,...,21,13,19,12,14,12,11,5,2,26
60500,2014,131,1307,64,1361,58,N,0,18,44,...,14,13,22,15,16,5,7,11,0,23
60501,2014,131,1308,77,1225,55,N,0,29,52,...,13,17,22,4,17,8,5,5,0,17
60502,2014,131,1344,65,1166,58,N,0,19,49,...,30,8,10,7,22,14,8,3,2,18
60503,2014,131,1372,68,1358,49,N,0,25,51,...,17,10,15,5,18,11,12,1,4,20
60504,2014,131,1386,67,1382,48,N,0,21,46,...,15,16,23,12,24,8,9,7,6,22
60505,2014,131,1409,69,1256,60,N,0,23,53,...,25,15,23,10,27,7,13,3,1,22
60506,2014,131,1411,78,1341,73,N,0,22,46,...,17,11,17,13,18,13,9,8,1,29
60507,2014,131,1417,75,1112,71,N,0,25,58,...,22,6,16,8,29,16,7,7,3,15
60508,2014,131,1418,73,1443,72,N,0,29,55,...,15,15,27,8,19,12,16,6,1,17
60509,2014,131,1433,74,1203,55,N,0,26,56,...,13,10,19,7,21,13,15,7,1,15
60510,2014,131,1438,51,1338,48,N,0,21,45,...,14,9,14,9,20,9,8,6,2,14
60511,2014,131,1444,98,1405,77,N,0,34,61,...,24,13,21,12,15,12,4,6,6,18
60512,2014,131,1451,88,1315,67,H,0,30,53,...,12,18,25,15,19,7,5,4,0,15
60513,2014,132,1196,61,1246,60,N,0,23,53,...,11,21,26,12,24,9,12,4,8,19
60514,2014,132,1277,69,1276,55,N,0,27,54,...,23,15,16,13,15,7,9,3,3,15
60515,2014,132,1386,65,1433,61,N,0,24,50,...,19,8,15,13,25,9,5,6,6,18
60516,2014,132,1418,82,1209,81,N,1,32,75,...,19,20,21,4,26,8,7,5,7,15
60517,2014,132,1438,72,1181,63,N,0,21,47,...,14,7,11,14,20,13,6,7,3,29

In [44]:
for i in np.unique(dataset.season):
    print(str(i)+":"+str(dataset[raw_dataset.season == i].shape))

2003:(4616, 34)
2004:(4571, 34)
2005:(4675, 34)
2006:(4757, 34)
2007:(5043, 34)
2008:(5163, 34)
2009:(5249, 34)
2010:(5263, 34)
2011:(5246, 34)
2012:(5253, 34)
2013:(5320, 34)
2014:(5362, 34)

In [40]:
np.unique(dataset.season)

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014])

In [6]:
all_teams = pd.read_csv("../../data/teams.csv")

In [91]:
year = 2014
for index,row in all_teams.iterrows():
    teamId = all_teams.team_id[index]
    statsAsWinningTeam = (dataset[(dataset.wteam == teamId) & (dataset.season == year)])
    print(statsAsWinningTeam)
    statsAsLosingTeam = (dataset[(dataset.lteam == teamId) & (dataset.season == year)])
    print(statsAsLosingTeam)
    break

       season  daynum  wteam  wscore  lteam  lscore wloc  numot  wfgm  wfga  \
57902    2014      75   1101      73   1146      72    H      0    25    53
58812    2014      94   1101      87   1223      81    H      0    27    44

      ...   lfga3  lftm  lfta  lor  ldr  last  lto  lstl  lblk  lpf
57902 ...      10     8    20   12   23    11   16    11     1   21
58812 ...      13    16    28    9   15    18   14     6     2   28

[2 rows x 34 columns]
       season  daynum  wteam  wscore  lteam  lscore wloc  numot  wfgm  wfga  \
55266    2014       5   1182      94   1101      75    H      0    30    58
55336    2014       7   1382      75   1101      47    H      0    25    56
55426    2014       9   1268      67   1101      44    H      0    26    53
55593    2014      13   1234     103   1101      41    H      0    38    61
55693    2014      15   1395      71   1101      64    H      0    22    48
55980    2014      21   1462      93   1101      65    H      0    33    57
56224    2014      26   1406      74   1101      47    H      0    26    45
57542    2014      66   1309      87   1101      81    H      0    24    51
57677    2014      68   1368      85   1101      77    H      2    27    65
57867    2014      73   1331      82   1101      59    A      0    29    54
58183    2014      80   1249      65   1101      57    A      0    23    48
58334    2014      82   1358      70   1101      51    A      0    23    47
58531    2014      87   1372      64   1101      48    H      0    23    60
58651    2014      89   1322      84   1101      66    H      0    31    58
58998    2014      96   1394      71   1101      69    A      0    25    43
59150    2014     101   1230      80   1101      68    H      0    26    44
59813    2014     115   1311      79   1101      60    H      0    26    50
59921    2014     117   1270      95   1101      91    H      1    29    63
60238    2014     124   1230      59   1101      56    A      0    24    55

      ...   lfga3  lftm  lfta  lor  ldr  last  lto  lstl  lblk  lpf
55266 ...      25    24    32   11   22     9   10     3     1   26
55336 ...      16    15    26   11   17     7   18     2     1   30
55426 ...      21     0     0    6   17     9   16     6     0   15
55593 ...      23    10    12   10   20     6   19     3     0   21
55693 ...      20    17    25   11   26    13   13     4     2   26
55980 ...      24    10    14    3   18    11   11     3     3   24
56224 ...      19     8    11    9   14     8    7     7     3   19
57542 ...      23    18    25    7   26    20   11     7     1   32
57677 ...      19    24    35   11   34     8    7     7     0   22
57867 ...      10    16    18    8   15     5   14     3     3   17
58183 ...      14    16    23    8   22     6   22     9     2   22
58334 ...      13    15    21    7   16     7   18     6     1   24
58531 ...       9    17    23   11   20     5   21     6     5   17
58651 ...      23    14    16   12   16    11   20     8     0   18
58998 ...      20    17    22    3   16    14   16     5     0   22
59150 ...      15    16    21    6   19     9   14     6     0   19
59813 ...      17    19    25    3   26     8   12     4     1   20
59921 ...      22    20    23    4   20    17   17     4     2   25
60238 ...      19    10    11   12   20    14   20     8     2   15

[19 rows x 34 columns]

In [110]:
winningAverageStatsForTeam = statsAsWinningTeam.mean()[0:20]

In [111]:
losingAverageStatsForTeam = statsAsLosingTeam.mean()[20:]

In [112]:
stats = pd.concat([winningAverageStatsForTeam,losingAverageStatsForTeam])

In [113]:
stats

season    2014.000000
daynum      84.500000
wteam     1101.000000
wscore      80.000000
lteam     1184.500000
lscore      76.500000
numot        0.000000
wfgm        26.000000
wfga        48.500000
wfgm3        5.000000
wfga3       11.500000
wftm        23.000000
wfta        31.000000
wor          7.500000
wdr         21.500000
wast        11.500000
wto         14.500000
wstl        10.000000
wblk         2.000000
wpf         19.500000
lfgm        19.736842
lfga        50.315789
lfgm3        6.842105
lfga3       18.526316
lftm        15.052632
lfta        20.157895
lor          8.052632
ldr         20.210526
last         9.842105
lto         15.052632
lstl         5.315789
lblk         1.421053
lpf         21.789474
dtype: float64

In [141]:
cols = list(dataset.columns)

In [232]:
r = re.compile('^w')
winningStatColumnNames = filter(r.match, list(dataset.columns))
winningStatColumnNames.remove('wteam')
winningStatColumnNames.remove('wloc')
averageStatsAsWinningTeam = dataset[(dataset.wteam == teamId) & (dataset.season == year)][winningStatColumnNames].mean()
averageStatsAsWinningTeam = pd.DataFrame(averageStatsAsWinningTeam).transpose()
averageStatsAsWinningTeam

,wscore,wfgm,wfga,wfgm3,wfga3,wftm,wfta,wor,wdr,wast,wto,wstl,wblk,wpf
0,80,26,48.5,5,11.5,23,31,7.5,21.5,11.5,14.5,10,2,19.5

In [234]:
r = re.compile('^l')
losingStatColumnNames = filter(r.match, list(dataset.columns))
losingStatColumnNames.remove('lteam')
averageStatsAsLosingTeam = (dataset[(dataset.lteam == teamId) & (dataset.season == year)])[losingStatColumnNames].mean()
averageStatsAsLosingTeam = pd.DataFrame(averageStatsAsLosingTeam).transpose()
averageStatsAsLosingTeam

,lscore,lfgm,lfga,lfgm3,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
0,61.368421,19.736842,50.315789,6.842105,18.526316,15.052632,20.157895,8.052632,20.210526,9.842105,15.052632,5.315789,1.421053,21.789474

In [221]:
otherStatsForTargetTeam = pd.DataFrame([[teamId,year]],columns=['teamId','season'])

In [242]:
trainingStatsForTargetTeam = pd.concat([otherStatsForTargetTeam,averageStatsAsWinningTeam,averageStatsAsLosingTeam],axis=1)

In [243]:
trainingStatsForTargetTeam.columns

Index([u'teamId', u'season', u'wscore', u'wfgm', u'wfga', u'wfgm3', u'wfga3', u'wftm', u'wfta', u'wor', u'wdr', u'wast', u'wto', u'wstl', u'wblk', u'wpf', u'lscore', u'lfgm', u'lfga', u'lfgm3', u'lfga3', u'lftm', u'lfta', u'lor', u'ldr', u'last', u'lto', u'lstl', u'lblk', u'lpf'], dtype='object')

In [265]:
year = 2014
trainingStatsForAllTeams = pd.DataFrame()
for index,row in all_teams.iterrows():
    teamId = all_teams.team_id[index]

    # Stats for target team as winning team
    r = re.compile('^w')
    winningStatColumnNames = filter(r.match, list(dataset.columns))
    winningStatColumnNames.remove('wteam')
    winningStatColumnNames.remove('wloc')
    averageStatsAsWinningTeam = dataset[(dataset.wteam == teamId) & (dataset.season == year)][winningStatColumnNames].mean()
    averageStatsAsWinningTeam = pd.DataFrame(averageStatsAsWinningTeam).transpose()
    averageStatsAsWinningTeam

    # Stats for target team as losing team
        # Potential change here is to include Average Stats of the teams that lose to this team.
    r = re.compile('^l')
    losingStatColumnNames = filter(r.match, list(dataset.columns))
    losingStatColumnNames.remove('lteam')
    averageStatsAsLosingTeam = (dataset[(dataset.lteam == teamId) & (dataset.season == year)])[losingStatColumnNames].mean()
    averageStatsAsLosingTeam = pd.DataFrame(averageStatsAsLosingTeam).transpose()
    averageStatsAsLosingTeam

    # Meta data
    otherStatsForTargetTeam = pd.DataFrame([[teamId,year]],columns=['teamId','season'])

    trainingStatsForTargetTeam = pd.concat([otherStatsForTargetTeam,averageStatsAsWinningTeam,averageStatsAsLosingTeam],axis=1)
    
    trainingStatsForAllTeams = trainingStatsForAllTeams.append(trainingStatsForTargetTeam,ignore_index=True)

In [268]:
trainingStatsForAllTeams.to_csv("../../data/structured/trainingStatsForAllTeams.csv")

In [269]:
pd.DataFrame(trainingStatsForAllTeams)

,teamId,season,wscore,wfgm,wfga,wfgm3,wfga3,wftm,wfta,wor,...,lfga3,lftm,lfta,lor,ldr,last,lto,lstl,lblk,lpf
0,1101,2014,80.000000,26.000000,48.500000,5.000000,11.500000,23.000000,31.000000,7.500000,...,18.526316,15.052632,20.157895,8.052632,20.210526,9.842105,15.052632,5.315789,1.421053,21.789474
0,1102,2014,69.700000,22.300000,50.200000,7.900000,21.000000,17.200000,23.400000,9.600000,...,22.111111,11.111111,16.944444,8.222222,21.333333,13.222222,13.055556,4.833333,2.722222,19.888889
0,1103,2014,71.809524,24.666667,54.285714,7.571429,20.095238,14.904762,24.047619,11.809524,...,20.916667,11.666667,19.000000,13.166667,19.500000,8.916667,14.000000,5.666667,3.166667,18.416667
0,1104,2014,73.583333,25.333333,51.333333,7.083333,17.916667,15.833333,23.666667,9.916667,...,16.842105,15.368421,22.210526,9.894737,21.473684,9.526316,11.684211,5.684211,4.000000,20.947368
0,1105,2014,71.166667,23.833333,52.083333,6.583333,17.416667,16.916667,25.833333,11.333333,...,20.000000,12.937500,19.250000,8.687500,21.562500,11.250000,13.312500,5.687500,3.562500,22.812500
0,1106,2014,74.750000,25.625000,58.437500,5.875000,19.250000,17.625000,24.687500,13.562500,...,18.250000,14.500000,22.666667,12.250000,19.166667,10.333333,11.500000,6.500000,3.416667,18.833333
0,1107,2014,72.166667,23.277778,50.055556,6.222222,14.333333,19.388889,25.222222,10.555556,...,12.357143,12.214286,17.214286,10.071429,22.857143,10.071429,12.142857,3.928571,2.642857,17.428571
0,1108,2014,65.111111,22.333333,45.888889,4.555556,12.000000,15.888889,23.222222,6.555556,...,16.000000,13.631579,21.105263,11.052632,19.263158,8.210526,11.842105,5.894737,4.000000,20.315789
0,1109,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1110,2014,67.500000,23.850000,46.200000,6.150000,15.450000,13.650000,18.900000,7.250000,...,18.500000,8.000000,11.833333,6.916667,19.083333,12.916667,14.000000,5.416667,3.250000,18.916667
0,1111,2014,70.400000,24.800000,53.400000,6.000000,14.600000,14.800000,24.200000,10.600000,...,16.142857,14.619048,22.761905,13.333333,20.904762,8.809524,12.809524,6.095238,2.380952,21.000000
0,1112,2014,74.400000,26.633333,55.500000,5.433333,14.833333,15.700000,23.766667,12.633333,...,15.000000,12.250000,20.250000,12.250000,29.500000,11.500000,11.500000,6.500000,3.000000,16.250000
0,1113,2014,80.095238,27.476190,56.190476,8.285714,19.952381,16.857143,24.047619,8.190476,...,23.090909,15.363636,22.636364,8.909091,22.454545,10.636364,12.363636,4.636364,3.818182,21.000000
0,1114,2014,73.538462,25.230769,54.307692,4.692308,12.461538,18.384615,24.538462,10.615385,...,17.882353,17.058824,23.176471,11.941176,24.411765,10.470588,13.705882,5.411765,3.529412,23.117647
0,1115,2014,70.545455,23.090909,49.818182,6.272727,17.181818,18.090909,27.545455,9.181818,...,18.833333,11.500000,17.611111,10.666667,18.166667,11.722222,15.166667,8.944444,2.388889,20.000000
0,1116,2014,84.904762,29.095238,60.904762,7.857143,19.952381,18.857143,26.000000,11.000000,...,21.636364,17.181818,23.727273,13.090909,20.363636,12.000000,11.181818,7.181818,4.727273,23.272727
0,1117,2014,81.235294,25.705882,55.529412,9.411765,22.647059,20.411765,27.764706,9.764706,...,23.615385,12.923077,18.615385,8.846154,22.461538,12.153846,13.384615,5.538462,2.153846,18.692308
0,1118,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1119,2014,76.857143,27.214286,55.857143,7.714286,19.571429,14.714286,20.428571,9.785714,...,24.687500,11.875000,17.562500,12.562500,20.062500,13.062500,13.062500,5.625000,4.187500,19.062500
0,1120,2014,78.071429,25.642857,52.071429,5.214286,16.214286,21.571429,29.285714,10.642857,...,20.437500,14.000000,20.000000,11.312500,21.250000,9.937500,12.250000,5.437500,4.187500,22.812500
0,1121,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1122,2014,81.000000,27.100000,51.100000,5.600000,13.600000,21.200000,31.600000,8.200000,...,15.833333,16.388889,24.222222,10.777778,21.833333,13.333333,17.055556,6.833333,4.500000,17.611111
0,1123,2014,77.333333,26.000000,57.666667,7.333333,22.000000,18.000000,25.333333,13.333333,...,20.240000,14.960000,22.000000,11.960000,23.240000,11.640000,17.560000,4.440000,2.280000,21.120000
0,1124,2014,77.727273,26.090909,55.227273,7.136364,18.136364,18.409091,26.363636,14.636364,...,21.454545,12.363636,20.363636,13.272727,20.909091,12.909091,12.090909,4.818182,4.181818,19.818182
0,1125,2014,83.304348,28.260870,53.739130,8.869565,21.347826,17.913043,24.217391,7.826087,...,24.666667,13.888889,19.444444,9.000000,21.555556,14.555556,16.555556,5.111111,2.666667,23.444444
0,1126,2014,72.000000,23.800000,49.800000,8.400000,17.600000,16.000000,22.200000,8.000000,...,19.280000,12.280000,17.280000,11.720000,18.240000,8.640000,12.320000,5.720000,2.520000,21.480000
0,1127,2014,73.428571,24.142857,55.285714,8.142857,18.857143,17.000000,23.714286,11.428571,...,19.000000,15.521739,22.652174,10.086957,20.608696,8.608696,14.521739,5.652174,1.826087,20.391304
0,1128,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1129,2014,81.368421,27.263158,56.736842,8.263158,20.631579,18.578947,23.894737,10.368421,...,20.538462,11.846154,16.615385,11.461538,20.692308,9.384615,10.461538,4.846154,2.076923,19.923077
0,1130,2014,75.142857,24.000000,52.285714,9.285714,24.571429,17.857143,22.571429,9.428571,...,21.166667,16.166667,22.166667,7.916667,19.666667,11.708333,11.291667,4.458333,2.500000,19.458333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1435,2014,69.733333,23.266667,50.866667,6.800000,19.466667,16.400000,25.466667,9.533333,...,19.187500,11.687500,17.250000,10.125000,22.750000,11.625000,14.687500,4.625000,4.125000,18.562500
0,1436,2014,73.550000,24.300000,49.600000,5.900000,13.500000,19.050000,24.950000,10.300000,...,17.200000,13.600000,21.300000,10.000000,20.300000,11.100000,10.100000,5.400000,3.400000,21.900000
0,1437,2014,80.000000,26.321429,56.357143,9.071429,25.000000,18.285714,25.678571,11.535714,...,25.250000,16.000000,22.250000,9.500000,20.750000,11.250000,10.750000,5.000000,2.250000,19.500000
0,1438,2014,67.500000,23.964286,50.964286,6.000000,15.500000,13.571429,20.892857,10.821429,...,13.166667,17.833333,24.833333,11.333333,22.500000,8.833333,11.833333,3.833333,4.666667,19.500000
0,1439,2014,78.111111,26.444444,56.666667,8.444444,19.777778,16.777778,23.555556,10.444444,...,19.000000,11.545455,18.772727,11.000000,23.454545,9.727273,12.772727,3.409091,3.772727,16.227273
0,1440,2014,91.066667,32.333333,69.800000,9.200000,26.066667,17.200000,25.133333,15.000000,...,28.333333,14.000000,19.916667,12.750000,24.083333,10.333333,10.000000,6.083333,5.583333,19.416667
0,1441,2014,78.062500,26.687500,58.875000,7.375000,18.750000,17.312500,23.375000,12.875000,...,21.466667,13.933333,20.266667,13.533333,19.666667,9.800000,12.000000,6.466667,4.066667,24.066667
0,1442,2014,69.571429,24.714286,49.142857,4.285714,11.142857,15.857143,20.857143,7.571429,...,15.350000,11.500000,17.750000,7.450000,20.500000,10.550000,13.300000,5.350000,2.450000,20.450000
0,1443,2014,69.684211,23.315789,53.578947,6.631579,19.789474,16.421053,24.052632,11.578947,...,25.166667,12.833333,21.583333,14.083333,23.500000,11.250000,14.583333,4.250000,1.916667,21.250000
0,1444,2014,76.500000,24.909091,50.500000,6.045455,16.727273,20.636364,28.136364,9.681818,...,20.444444,14.555556,21.777778,9.555556,22.333333,10.222222,15.222222,6.555556,4.111111,20.555556
0,1445,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1446,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1447,2014,73.666667,25.277778,57.333333,6.333333,16.555556,16.777778,22.944444,13.000000,...,16.250000,14.833333,20.000000,12.916667,23.000000,10.500000,12.166667,5.500000,4.750000,22.250000
0,1448,2014,76.764706,26.352941,54.823529,5.235294,15.117647,18.823529,28.705882,11.117647,...,15.437500,15.375000,23.937500,9.187500,19.687500,11.625000,12.687500,5.437500,3.187500,20.875000
0,1449,2014,79.882353,27.176471,56.705882,5.882353,16.764706,19.647059,25.411765,10.764706,...,17.800000,12.866667,17.533333,11.400000,21.066667,12.333333,11.200000,4.933333,2.333333,20.600000
0,1450,2014,71.000000,24.000000,55.000000,6.666667,21.555556,16.333333,26.111111,12.666667,...,23.095238,11.285714,16.619048,8.333333,20.857143,9.809524,11.428571,4.285714,2.476190,18.714286
0,1451,2014,76.235294,24.294118,47.705882,8.411765,18.647059,19.235294,25.705882,7.705882,...,17.818182,16.363636,22.727273,9.000000,22.181818,9.636364,11.909091,3.636364,4.181818,18.363636
0,1452,2014,85.588235,29.294118,59.529412,8.823529,20.411765,18.176471,24.588235,11.882353,...,20.666667,15.466667,21.933333,12.200000,22.066667,10.466667,9.866667,5.933333,2.466667,21.666667
0,1453,2014,76.571429,26.714286,54.904762,4.809524,12.952381,18.333333,25.190476,11.190476,...,15.166667,13.166667,18.666667,11.666667,22.666667,11.666667,14.500000,6.000000,6.500000,20.666667
0,1454,2014,75.400000,24.000000,52.000000,7.950000,21.150000,19.450000,26.050000,9.950000,...,22.307692,15.000000,21.230769,9.538462,20.923077,11.923077,14.153846,5.307692,2.692308,17.769231
0,1455,2014,74.939394,24.727273,54.090909,6.848485,19.727273,18.636364,25.575758,11.878788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1456,2014,77.473684,26.105263,50.210526,9.315789,20.368421,15.947368,22.210526,7.000000,...,23.416667,11.916667,18.666667,8.416667,21.833333,13.166667,10.916667,5.166667,2.666667,17.416667
0,1457,2014,77.294118,25.705882,54.529412,8.235294,19.588235,17.647059,24.235294,9.941176,...,21.538462,14.153846,20.230769,9.923077,19.769231,10.384615,14.000000,4.692308,2.538462,21.923077
0,1458,2014,75.384615,24.615385,52.576923,8.192308,21.000000,17.961538,23.884615,8.692308,...,20.000000,15.142857,21.285714,9.142857,20.857143,10.857143,8.285714,4.000000,3.285714,16.000000
0,1459,2014,70.529412,25.823529,54.235294,6.411765,15.823529,12.470588,19.470588,10.588235,...,16.166667,11.750000,16.666667,10.500000,18.833333,10.666667,11.750000,5.333333,1.166667,18.416667
0,1460,2014,67.666667,21.388889,46.888889,6.000000,15.777778,18.888889,24.777778,7.055556,...,18.428571,12.214286,17.714286,7.142857,20.357143,13.785714,13.714286,7.000000,2.500000,22.214286
0,1461,2014,69.750000,22.312500,43.625000,5.875000,14.750000,19.250000,26.250000,4.437500,...,17.285714,10.928571,15.857143,5.857143,20.500000,10.428571,9.214286,4.428571,3.142857,17.714286
0,1462,2014,74.714286,26.238095,53.142857,5.190476,12.809524,17.047619,24.476190,10.714286,...,18.083333,13.416667,20.000000,11.916667,21.333333,12.833333,13.083333,4.583333,1.916667,21.916667
0,1463,2014,72.071429,22.214286,50.071429,5.500000,14.928571,22.142857,31.142857,12.571429,...,16.384615,16.384615,24.230769,11.076923,20.769231,9.230769,12.384615,6.230769,3.846154,20.461538
0,1464,2014,74.666667,25.333333,53.500000,7.750000,21.333333,16.250000,22.666667,7.916667,...,22.235294,16.470588,22.117647,8.647059,22.352941,14.529412,11.764706,6.588235,2.176471,20.294118